{
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "mocha":true
  },
  "parser": "babel-eslint",
  "extends": "eslint-config-airbnb",
  "plugins": [
    "react", "jsx-a11y", "import"
  ],
  "rules": {
    "strict": 0,
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": ["warn", { "aspects": ["invalidHref"] }],
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-console": 0,
    "react/require-default-props": 0,
    "react/jsx-curly-brace-presence": [0],
    "react/no-array-index-key": 0,
    "max-len": ["error", { "code": 200, "ignoreComments": true }],
    "no-underscore-dangle": "off",
    "jsx-a11y/no-noninteractive-element-interactions": 0
  },
  "globals": {
    "fetch": true,
    "FormData": true,
    "localStorage": true,
    "window": true
  }
}